.landing{
    height: 100vh;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.slack{
    display: flex;
    align-items:center;
    gap: 1rem;
    cursor: pointer;
}
.slack img{
    height: 4rem;
    width: 4rem;
}

.enter-email{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: .4rem;
}
.enter-email form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}
.enter-email form input{
    height: 3rem;
    width: 100%;
    font-size: 1.2rem;
    padding: .2rem .8rem;
    outline: none;
}
.enter-email form input:focus{
    /* box-shadow: ; */
}
.enter-email form button, .google-button{
    height: 3rem;
    width: 100%;
    font-size: 1.2rem;
    padding: .2rem .8rem;
    background-color: #7f2a80;
    color: white;
    outline: none;
    border-radius: .2rem;
    transition: all 0.2s;
}
.enter-email form button:hover{
    background-color: #642065;
}

.enter-email span{
    margin: 2rem 0rem;
    color: grey;
}

.google-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    gap: 1rem;
    width: 50%;
    border: 1px solid black;
}

.google-button img{
    width: 2rem;
    height: 2rem;
}



/* /////////////////////////////////////////// */

.workspace{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    background-color: #f4ede480;
    width: 100%;
    height: 36rem;
    position: relative;
    gap: 1.6rem;
}

.or{
    position: absolute;
    background-color: white;

    width: 4rem;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    bottom: -6%;

    font-size: 1rem;
    color: grey;
}

.workspace .slack p{
    font-weight: 400;
    font-size: 1rem;
}

.workspace .slack img{
    height: 3rem;
    width: 3rem;
}

.email-info{
    display: flex;
    gap: 1rem;
    background-color: white;
    padding: .5rem 1rem;
    border-radius: 1rem;

    font-size: .8rem;
    margin-bottom: .2rem;
}

.email-info button{
    background-color: inherit;
    border: none;
    color: grey;
    border-bottom: 1px solid white;
    transition: all 0.2s;
}
.email-info button:hover{
    border-bottom: 1px solid grey;
}






.create-workspace{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.create-workspace-left{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}
.create-workspace-left h1{
    line-height: 2.2rem;
}
.create-workspace-left p{
    line-height: 1.4rem;
}
.create-workspace-left button{
    width: 100%;
    color: white;
    padding: .4rem 1rem;
    background-color: #7f2a80;
    border: none;
    font-size: 1.2rem;
    transition: all 0.2s;
}
.create-workspace-left button:hover{
    background-color: #642065;
}
.create-workspace-left span{
    font-size: .8rem;
    color: grey;
    line-height: 1.2rem;
}



.create-workspace-right{
    width: 40%;
    display: grid;
    row-gap: .2rem;
    column-gap: .4rem;
    grid-template-columns: 1fr 1fr;
}
.create-workspace-right img{
    width: 14rem;
    height: 12rem;
    border-radius: 1rem;
}
.create-workspace-right img:first-child{
    justify-self: end;
    border-radius: 1rem;
}
.create-workspace-right img:last-child{
    grid-column: 1/ span 3;
    justify-self: center;
    width: 17rem;
    border-radius: .6rem;
}





/* //////////////////////////////////////////// */
.createworkspace{
    width: 35%;
    margin-top: 5rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    position: relative;
}
.createworkspace form, .card{
    display: flex;
    flex-direction: column;
}

.createworkspace h1{
    text-align: center;
    margin-bottom: 1rem;
}
.close-createworkspace{
    position: absolute;
    background-color: inherit;
    border: none;
    top: 2%;
}
.close-createworkspace svg:hover{
    color: #f4341a;
}
.close-createworkspace svg{
    width: 2rem;
    height: 2rem;
    transition: all 0.2s;
}

.createworkspace form{
    gap: 1rem;
    overflow: hidden;
    position: relative;
    height: 20rem;  
}
.card{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}
.card_inner{
    width: 80%;
    height: 80%;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    /* box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
    margin-top: 0.4rem;
}
.card.hidden {
    transform: translateX(-100%);
} 
.card.active {
    transform: translateX(0);
}

.card span{
    font-size: .8rem;
    color: grey;
    line-height: 1.2rem;
}

.card_inner input{
    outline: none;
    padding: 0.3rem .6rem;
}
.card_buttons{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.card_buttons button{
    width: fit-content;
    color: white;
    padding: .4rem 1rem;
    background-color: #7f2a80;
    border: none;
    font-size: .8rem;
    transition: all 0.2s;
    border-radius: .2rem;
}
.card_buttons button:hover{
    background-color: #642065;
}

.card_inner img, .workspace-box img{
    width: 6rem;
    height: 6rem;
    border-radius: .2rem;
}

.card_inner textarea{
    height: 50%;
    outline: none;
    resize: none;
}
.steps-count{
    color: grey;
    font-size: .8rem;
    width: 80%;
    align-self: center;
}

.enter_emails{
    display: flex;
    justify-content: space-between;
}
.enter_emails input{
    width: 80%;
}
.enter_emails button{
    width: 18%;
    color: grey;
    border: none;
    border-radius: .2rem;
    transition: all 0.3s;
}
.enter_emails button:hover{
    color: white;
    background-color: #642065;
}
.enter_emails span{
    background-color: black;
    color: white;
    padding: 0.2rem 0.4rem;
    border-radius: 1rem;
    position: relative;
}

.entered_emails{
    width: 100%;
    height: 50%;
    background-color: white;
    position: relative;
    overflow-y:auto;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    gap: .1rem;
}
::-webkit-scrollbar{
    width: .9rem; 
}
::-webkit-scrollbar-track{
    width: .6rem;
    background-color: #642065;
    border-radius: 1rem;
    margin-block: 0.2rem;
}
::-webkit-scrollbar-thumb{
    background-color: white;
    width: .2rem;
    border: .1rem solid #642065;
    border-radius: 1rem;
}

.enter_emails svg{
    padding: .2rem;
    width: 1.6rem;
    height: 1.6rem;
    background-color: white;
    color: black;
    transition: all 0.3s;
}
.enter_emails svg:hover{
    color: #f4341a;
}
.delete-email{
    display: flex;
    position: absolute;
    width: fit-content !important;
    background-color: white;
    bottom: 0;
    left: 102%;
    border-radius: 1rem;
}



.show-workspaces{
    width: 100%;
    margin: 3rem 0rem;
    margin-bottom: 0rem;
    padding: 3rem 0rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    background-color: #642065;
    align-items: center;
}
.show-workspaces h2{
    font-size: 2rem;
    width: 60%;
    color: white;
}
.show-create-workspace{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.workspace-div{
    width: 60%;
    border: .4rem solid #fecaffa3;
    border-radius: .2rem;
}
.workspace-div span{
    background-color: #ecdeec;
    width: 100%;
    display: flex;
    padding: 1.6rem 1rem;
    font-size: 1rem;
}
.workspace-box{
    background-color: #642065;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
    display: flex;
    gap: 2rem;
}
.workspace-box button{
    display: flex;
    align-items: center;
    align-self: center;
    padding: 1rem .8rem;
    background-color: #7f2a80;
    color: white;
    border: none;
    border-radius: .2rem;
    font-size: 1rem;
}

.no-workspace{
    width: 100%; 
    color: #9a9797;
    margin: 3rem;
    text-align: center
}
.workspace-info{
    display: flex;
    gap: 1rem;
}